.advantages {
  position: relative;
  padding-top: 35px;
  padding-bottom: 25px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    top: 0;
    left: 0;
    right: 0;
    background: url("../img/bg-zigzag-line.svg") repeat-x;
    background-position: center top;
    background-size: contain;
  }
}

.advantages__title {
  margin: 0;
  @mixin container;
  margin-bottom: 29px;
  padding: 0 30px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: $black;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  @mixin container;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  list-style: none;
  font-size: 17px;
  line-height: 1.2;
  font-weight: bold;
  color: $black;
}

.advantages__item {
  position: relative;
  margin-bottom: 16px;
  padding-top: 57px;
  padding-bottom: 10px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 1px center;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-1.svg");
    background-position: 10px;
  }

  &--money::before {
    background-image: url("../img/icon-feature-3.svg");
    top: -3px;
  }

  &--heart::before {
    background-image: url("../img/icon-feature-5.svg");
    left: 7px;
  }

  &--clew::before {
    background-image: url("../img/icon-feature-2.svg");
    left: 4px;
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-4.svg");
    left: -5px;
  }

  &--present::before {
    background-image: url("../img/icon-feature-6.svg");
    left: 3px;
  }
}


@media (--tablet-widths) {

  .advantages {
    padding-top: 64px;
    padding-bottom: 32px;

    &::before {
      height: 17px;
    }
  }

  .advantages__title {
    margin-bottom: 45px;
    padding-left: 45px;
    padding-right: 50px;
    font-size: 43px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .advantages__item {
    box-sizing: border-box;
    margin-bottom: 40px;
    padding-right: 15px;
    width: 333px;
    font-size: 20px;

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--clew {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--present {
      order: 6;
    }
  }
}

@media (--desktop-widths) {

  .advantages {
    padding-top: 81px;
    padding-bottom: 35px;

    &::before {
      height: 23px;
    }
  }

  .advantages__title {
    margin-bottom: 42px;
    width: 800px;
    font-size: 53px;
  }

  .advantages__list {
    width: 800px;
  }

  .advantages__item {
    width: 350px;

    &--flower:before {
      top: 4px;
    }

    &--clew:before {
      top: 4px;
    }

    &--heart:before {
      top: 4px;
    }

    &--present:before {
      top: 2px;
    }
  }
}
