.btn {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  width: 260px;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  color: $gray;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $gray;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $white;
    background-color: $gray;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $gray;
  }

  &--size {
    width: 82px;
    border-color: #ececec;
  }

  &--size:hover {
    border-color: #c7c7c7;
    background-color: $white;
    color: $gray;
  }

  &--green {
    border: none;
    width: 260px;
    background-color: $green;
    color: $white;
  }

  &--green:hover,
  &--green:active {
    background-color: $green;
  }

  &--video {
    position: relative;
    padding: 0;
    width: 100px;
    height: 77px;
    font-size: 0;
    border-radius: 20px;
    border: 5px solid $white;
    background-color: #62d1ba;
    outline: none;

    &:hover {
      width: 120px;
      height: 93px;
      background-color: #62d1ba;
    }

    &:hover::after {
      left: 39px;
      top: 19px;
      width: 72px;
      height: 45px;
      border-left-width: 36px;
      border-right-width: 36px;
      border-top-width: 23px;
      border-bottom-width: 23px;
    }

    &:active {
      width: 80px;
      height: 62px;
      background-color: #62d1ba;
      opacity: 0.3;
    }

    &:active::after {
      left: 26px;
      top: 12px;
      width: 48px;
      height: 30px;
      border-left-width: 24px;
      border-right-width: 24px;
      border-top-width: 15px;
      border-bottom-width: 15px;
    }
  }

  &--video::after {
    content: "";
    position: absolute;
    left: 33px;
    top: 15px;
    box-sizing: border-box;
    width: 60px;
    height: 37px;
    border-left: 30px solid $white;
    border-right: 30px solid transparent;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
  }
}

@media (--tablet-widths) {
  .btn {

    &--size {
      width: 112px;
    }

    &--green {
      width: 350px;
    }
  }
}
