.btn {
  display: block;
  box-sizing: border-box;
  padding: 14px;
  width: 260px;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  @mixin font 17px, 16px, bold;
  color: $gray;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $gray;
  cursor: pointer;

  &--size {
    width: 82px;
  }

  &--green {
    border: none;
    background-color: $green;
    color: $white;
  }
}
