.btn {
  display: block;
  box-sizing: border-box;
  padding: 16px;
  width: 260px;
  background-color: $white;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  color: $gray;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $gray;
  cursor: pointer;
  outline: none;

  &:hover {
    color: $white;
    background-color: $gray;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: $gray;
    transition: 0.3s;
  }

  &--size {
    width: 82px;
    border-color: #ececec;

    &:hover {
      border-color: #c7c7c7;
      background-color: $white;
      color: $gray;
      transition: border-color 0.3s;
    }
  }

  &--green {
    border: none;
    width: 260px;
    background-color: $green;
    color: $white;

    &:hover,
    &:active {
      background-color: $green;
    }
  }
}


@media (--tablet-widths) {
  .btn {

    &--size {
      width: 112px;
    }

    &--green {
      width: 350px;
    }
  }
}
