.catalog {
  padding-bottom: 58px;
}


@media (--tablet-widths) {

  .catalog {
    padding-bottom: 63px;

    .catalog__title {
      margin-top: -69px;
    }
  }
}

@media (--desktop-widths) {

  .catalog {
    padding-bottom: 105px;

    .catalog__title {
      margin-top: -76px;
    }
  }
}
