.catalog-section {
  @mixin container;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 5px;
}

.catalog-section__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding-left: 29px;
  padding-right: 125px;
  padding-top: 24px;
  padding-bottom: 35px;
  font-size: 19px;
  line-height: 1.3;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  margin-bottom: -5px;

  &::after {
    content: "";
    position: absolute;
    right: 25px;
    width: 62px;
    height: 62px;
    opacity: 0.5;
  }

  &:hover {
    transform: translateY(-5px);
    transition: 0.3s;
  }

  &:hover::after {
    opacity: 0.7;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:active::after {
    opacity: 0.3;
    transition: 0.3s;
  }

  &--lamp {
    background: $green;
  }

  &--lamp::after {
    top: 22px;
    background: url("../img/icon-interior.svg") no-repeat center center;
  }

  &--lamp:hover {
    background-color: #59d5bc;
    transition: 0.3s;
  }

  &--lamp:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #59d5bc;
    transition: 0.3s;
  }

  &--toy {
    background-color: #56c3b2;
  }

  &--toy::after {
    top: 20px;
    background: url("../img/icon-toy.svg") no-repeat center center;
  }

  &--toy:hover {
    background-color: #46c1ae;
    transition: 0.3s;
  }

  &--toy:active {
    background-color: #46c1ae;
    transition: 0.3s;
  }
}

@media (--tablet-widths) {

  .catalog-section {
    padding-left: 50px;
    padding-right: 50px;
    width: 768px;
  }

  .catalog-section__link {
    width: 334px;
    padding-left: 35px;
    padding-top: 29px;
    font-size: 20px;
    line-height: 1.5;

    &:after {
      top: 30px;
    }

    &--lamp::after {
      right: 25px;
    }

    &--toy::after {
      right: 33px;
    }
  }
}

@media (--desktop-widths) {

  .catalog-section {
    width: 1150px;
  }

  .catalog-section__link {
    width: 525px;
    padding-right: 310px;
  }
}
