.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 30px;
  text-align: center;
}

.copyright__text {
  margin-right: 30px;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
}

.copyright__link img {
  margin-top: 4px;
  align-self: flex-end;
  width: 27px;
  height: 34px;
}
