.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 30px;
  text-align: center;

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-right: 30px;
  font-size: 19px;
  line-height: 1;
  font-weight: bold;
}

.copyright__link svg {
  margin-top: 6px;
  align-self: flex-end;
  width: 27px;
  height: 34px;
  fill: #63d1bb;

  &:hover,
  &:active {
    fill: #46c1ae;
    transition: 0.3s;
  }
}

@media (--tablet-widths) {

  .copyright {
    padding-top: 22px;
  }
}
