.copyright {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.copyright__text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  min-height: 19px;
  @mixin font 19px, 18px, bold;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
}
