.customer-form__wrapper {
  margin-bottom: 31px;
  font-size: 0;
}

.customer-form__checkbox {
  display: none;
}

.customer-form__label {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.customer-form__checkbox:checked + .customer-form__label {
  border-color: $green;
  background-color: $white;
  color: $gray;
}


