.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  @mixin container;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 57px;
}

.form__section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  border: none;

  &:nth-last-child(2) {
    margin-bottom: 16px;
  }
}

.form__title {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  color: $green;
  text-transform: uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 62px;
    top: 9px;
    width: 198px;
    height: 1px;
    background-color: $green;
  }
}

.form__section-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__label {
  display: block;
  box-sizing: border-box;
  margin-bottom: 4px;
  font-size: 17px;
  line-height: 1.1;
  font-weight: bold;
  color: $black;

  &--radio {
    position: relative;
    margin-bottom: 7px;
    padding-left: 62px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: pointer;
  }

  &--radio:last-of-type {
    margin-bottom: 0;
    padding-top: 15px;
  }

  &--radio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 2px solid $gray;
    border-radius: 50%;
  }

  &--radio:hover::before {
    border-color: #62d1ba;
  }

  &--radio:active::before {
    border-color: #c7c7c7;
  }

  &--radio::after {
    display: none;
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #62d1ba;
  }

  &--checkbox {
    position: relative;
    margin-bottom: 22px;
    padding-left: 62px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 9px;
    cursor: pointer;
  }

  &--checkbox:last-of-type {
    margin-bottom: 0;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    border: 2px solid $gray;
  }

  &--checkbox:hover::before {
    border-color: #62d1ba;
  }

  &--checkbox:active::before {
    border-color: #c7c7c7;
  }

  &--hidden {
    display: none;
  }
}

.form__radio:checked + .form__label--radio::after {
  display: block;
}

.form__checkbox:checked + .form__label--checkbox::before {
  background: url("../img/icon-tick.svg") no-repeat center center;
  background-size: 22px 16px;
}

.form__text {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  width: 260px;
  height: 49px;
  border: none;
  border-bottom: 2px solid $black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.1;
  font-weight: normal;
  color: $gray;
  outline: none;

  &:hover {
    border-bottom-color: #62d1ba;
  }

  &:focus {
    border-bottom-color: #62d1ba;
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--icon {
    position: relative;
    margin-top: -13px;
    padding-right: 40px;
  }

  &--icon {
    background-position: calc(100% - 5px) 6px;
    background-repeat: no-repeat;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.form__textarea {
  box-sizing: border-box;
  margin: 0;
  padding: 14px 15px;
  width: 260px;
  min-height: 139px;
  border: 2px solid $black;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.1;
  font-weight: normal;
  color: $gray;
  outline: none;

  &:hover {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.form__remark {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: normal;
  color: $gray;
}

@media (--tablet-widths) {

  .form {
    padding-top: 7px;
    padding-bottom: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__section {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 50px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &--gray {
      background-color: #f1f1f1;
    }

    &--gray:nth-last-child(4) {
      padding-bottom: 17px;
    }

    &--gray:nth-last-child(3) {
      padding-top: 0;
      padding-bottom: 43px;
    }
  }

  .form__section--gray:nth-last-child(4) .form__section-wrapper,
  .form__section--gray:nth-last-child(3) .form__section-wrapper {
    padding-top: 13px;
  }

  .form__title {
    padding-top: 17px;

    &::after {
      display: none;
    }
  }

  .form__section-wrapper {
    width: 502px;

    &--row {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  .form__label {
    font-size: 19px;

    &--radio {
      margin-bottom: 24px;
      padding-left: 82px;
      padding-top: 14px;
      padding-bottom: 17px;
    }

    &--radio::before {
      width: 50px;
      height: 50px;
    }

    &--radio::after {
      left: 16px;
      top: 16px;
      width: 22px;
      height: 22px;
    }

    &--checkbox {
      width: 240px;
      padding-left: 82px;
      padding-top: 15px;
      padding-bottom: 17px;
    }

    &--checkbox:nth-last-of-type(2) {
      margin-bottom: 0;
    }

    &--checkbox::before {
      width: 50px;
      height: 50px;
    }
  }

  .form__checkbox:checked + .form__label--checkbox::before {
    background-size: 33px 32px;
  }

  .form__text {
    margin-bottom: 25px;
    padding-left: 17px;
    width: 375px;
    height: 52px;
    font-size: 19px;

    &:first-of-type {
      width: 429px;
    }

    &--icon:first-of-type {
      width: 502px;
      padding-right: 60px;
      background-position: calc(100% - 25px) 10px;
    }
  }

  .form__textarea {
    width: 501px;
    min-height: 140px;
    font-size: 19px;
  }

  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
  }

  .form__remark {
    order: 2;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.8;
  }

  .form__btn {
    order: 1;
    width: 230px;
  }
}

@media (--desktop-widths) {

  .form__section {
    padding-left: 110px;
    padding-right: 110px;
  }

  .form__section-wrapper {
    width: 815px;

    &--row {
      justify-content: flex-start;
    }
  }

  .form__label {
    margin-right: 25px;

    &--checkbox {
      margin-right: 62px;
      width: 200px;
    }

    &--checkbox:nth-of-type(3n) {
      margin-right: 0;
    }

    &--checkbox:nth-last-of-type(3) {
      margin-bottom: 0;
    }
  }

  .form__text {
    width: 573px;

    &:first-of-type {
      width: 626px;
    }

    &--icon:first-of-type {
      width: 700px;
      background-position: calc(100% - 5px) 10px;
    }
  }

  .form__textarea {
    padding-top: 9px;
  }

  .form__wrapper {
    padding-top: 0;
    padding-left: 225px;
    padding-right: 225px;
  }
}
