.main-footer {
  box-sizing: border-box;
  background-color: #f1f1f1;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  @mixin container;
}

.main-footer__logo {
  display: none;
}

@media (--tablet-widths) {

  .main-footer {
    padding-top: 35px;
  }

  .main-footer__wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-footer__logo {
    display: block;
    margin-right: 160px;
  }

  .main-footer__logo img {
    width: 106px;
    height: 40px;
  }

  .main-footer__social {
    margin-right: 85px;
  }
}

@media (--desktop-widths) {

  .main-footer__logo {
    margin-right: 349px;
  }

  .main-footer__social {
    margin-right: 275px;
  }
}
