.order {
  margin: 0;
  @mixin container;
}

.order__text {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 24px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 1.8;
  font-weight: normal;
  color: $gray;
}
