.page-title {
  padding-top: 71px;
  padding-bottom: 76px;
  background-color: #f1f1f1;
  color: $black;

  &--main {
    padding-bottom: 123px;
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center -17px;
    background-size: 575px auto;

    @media (--retina) {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.page-title__inner {
  margin: 0;
  @mixin container;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 27px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  color: $black;
}

@media (--tablet-widths) {

  .page-title {
    position: relative;
    padding-top: 94px;
    padding-bottom: 82px;

    &--main {
      padding-top: 153px;
      padding-bottom: 495px;
      background-image: url("../img/hero-desktop@1x.jpg");
      background-position: center -4px;
      background-size: 1150px auto;

      @media (--retina) {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 24px;
      position: absolute;
      z-index: 5;
      bottom: -13px;
      left: 0;
      right: 0;
      background: url("../img/bg-zigzag-fill.svg") repeat-x center;
      background-size: auto 23px;
    }
  }

  .page-title__inner {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 43px;
  }
}

@media (--desktop-widths) {

  .page-title {
    padding-top: 90px;
    padding-bottom: 102px;

    &--main {
      padding-top: 152px;
      padding-bottom: 475px;
      background-position: center -2px;
    }

    &::after {
      height: 32px;
      background-size: contain;
    }
  }

  .page-title__inner {
    font-size: 53px;
  }
}
