.page-title {
  margin: 0;
  @mixin container;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 71px;
  padding-bottom: 80px;
  background-color: #f1f1f1;
  font-size: 27px;
  line-height: 1.1;
  font-weight: bold;
  text-align: center;
  color: $black;

  &--main {
    padding-bottom: 123px;
    background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat center -17px;
  }
}

@media (--tablet-widths) {

  .page-title {
    padding-top: 155px;
    font-size: 43px;

    &--main {
      background-size: cover;
      background-position: center 13px;
      padding-bottom: 377px;
    }
  }
}

@media (--desktop-widths) {

  .page-title {
    padding-top: 152px;
    font-size: 53px;

    &--main {
      padding-bottom: 356px;
      background-position: center -2px;
    }
  }
}
