.product-catalog {
  padding-bottom: 25px;
  border: 1px solid #ececec;
}

.product-catalog__link {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: $black;
  text-decoration: none;
}

.product-catalog__image {
  margin-bottom: 20px;
}

.product-catalog__name {
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-left: 27px;
  padding-right: 25px;
}

.product-catalog__characteristics {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  padding-left: 27px;
  padding-right: 25px;
  font-size: 13px;
  line-height: 2.3;
  font-weight: normal;
  color: $gray;
}

.product-catalog__price {
  min-width: 260px;
  position: relative;
}

.product-catalog__price-value {
  margin: 0;
  padding: 0;
  padding-left: 27px;
  padding-right: 25px;
  font-size: 15px;
  line-height: 1.6;
  font-weight: bold;
  color: $black;
}

.product-catalog__buy {
  position: absolute;
  top: 0;
  right: 25px;
  width: 20px;
  height: 19px;
  background: url("../img/icon-cart.svg") no-repeat;
  font-size: 0;
}
