.product {
  display: flex;
  @mixin container;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 29px;
  padding-bottom: 35px;
  color: $black;
}

.product__name {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  font-size: 25px;
  line-height: 1.2;
  font-weight: bold;
  color: $black;
}

.product__status {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 17px;
  line-height: 1;
  font-weight: bold;
  color: $green;
  text-transform: uppercase;
}

.product__description {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 15px;
  line-height: 1.6;
  font-weight: normal;
  color: $gray;
}

.product__characteristics {
  margin-bottom: 19px;
  width: 260px;
  font-size: 15px;
  line-height: 1.3;
  font-weight: normal;
  color: $gray;
  border-spacing: 0 10px;
}

.product__characteristics td {
  padding-bottom: 9px;
  border-bottom: 1px solid #ececec;
}

.product__characteristic-name {
  display: block;
  padding-right: 28px;
}

.product__characteristic-value {
  padding-right: 24px;
}

.product picture {
  margin-bottom: 21px;
}

.product__image {
  width: 260px;
  height: 315px;
  background-color: #f1f1f1;
}

.product__price {
  display: block;
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: $gray;
  text-align: center;
}

@media (--tablet-widths) {

  .product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 45px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .product__title {
    order: 1;
    margin-bottom: 43px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product__status {
    width: 100px;
    padding: 0 12px;
    text-align: center;
  }

  .product__wrapper {
    order: 1;
    width: 292px;
    margin-bottom: 126px;
  }

  .product__name {
    font-size: 43px;
  }

  .product__status {
    margin-bottom: 0;
  }

  .product__description {
    margin-bottom: 35px;
    font-size: 17px;
    line-height: 1.8;
  }

  .product__characteristics {
    width: 292px;
  }

  .product__characteristic-name {
    padding-right: 9px;
  }

  .product picture {
    order: 2;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .product__image {
    width: 333px;
    height: 404px;
  }

  .product__buy {
    order: 3;
    margin-top: -114px;
    width: 292px;
  }

  .product__price {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.2;
  }

  .product__btn {
    width: 292px;
  }
}

@media (--desktop-widths) {

  .product {
    padding-left: 74px;
    padding-top: 121px;
    padding-bottom: 69px;
  }

  .product__title {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  .product__name {
    position: relative;
    z-index: 2;
    font-size: 53px;
    margin-bottom: 5px;
  }

  .product__status {
    padding-left: 8px;
    padding-top: 2px;
    margin-right: 26px;
  }

  .product__wrapper {
    margin-left: 151px;
    margin-bottom: 131px;
  }

  .product__description {
    margin-bottom: 50px;
  }

  .product__characteristics {
    border-spacing: 0 7px;
  }

  .product__characteristics td {
    padding-bottom: 12px;
  }

  .product picture {
    margin-top: -159px;
  }

  .product__image {
    width: 525px;
    height: 636px;
  }

  .product__buy {
    margin-left: 152px;
    margin-top: -112px;
  }
}
