.production {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 23px;
  padding-bottom: 32px;
  width: 260px;
  border: 1px solid #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s;
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  padding-left: 56px;
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: $black;

  &::before {
    content: "";
    position: absolute;
    left: -1px;
    top: 6px;
    width: 32px;
    height: 32px;
    background: url("../img/icon-video.svg") no-repeat center center;
  }
}

.production__video {
  width: 260px;
  height: 150px;
  background-color: #ececec;
}

.production__video-wrapper {
  margin-left: -35px;
  width: 260px;
  height: 150px;
  position: relative;
}

.production__video-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  font-size: 0;
  background: url("../img/video-mobile@1x.jpg") no-repeat center center;
  background-size: 260px 150px;
  border: none;
  outline: none;
  cursor: pointer;

  @media (--retina) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 77px;
    transform: translate(-50%, -50%);
    background: url("../img/icon-play.svg") no-repeat center center;
    background-size: 100px 77px;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1.2);
    transition: 0.3s;
  }

  &:active::before {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
    transition: 0.3s;
  }
}

.production__text {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 27px;
  font-size: 13px;
  line-height: 1.9;
  font-weight: normal;
  color: $gray;
}

.production__btn {
  width: 192px;
}

@media (--tablet-widths) {

  .production {
    padding-top: 0;
    padding-bottom: 45px;
    padding-left: 41px;
    padding-right: 41px;
    width: 668px;
  }

  .production__title {
    order: 2;
    margin-bottom: 33px;
    padding-left: 64px;
    padding-top: 38px;
    font-size: 20px;
    line-height: 1.2;

    &::before {
      top: 33px;
      left: 0;
    }
  }

  .production__video-wrapper {
    margin-left: -42px;
    width: 668px;
    height: 455px;
  }

  .production__video {
    order: 1;
    width: 668px;
    height: 455px;
  }

  .production__video-btn {
    background-image: url("../img/video-tablet@1x.jpg");
    background-size: 668px 455px;

    @media (--retina) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }

  .production__wrapper {
    order: 3;
  }

  .production__text {
    margin-left: -1px;
    margin-bottom: 35px;
    padding-top: 0;
    font-size: 15px;
    line-height: 2;
  }

  .production__btn {
    width: 586px;
  }
}

@media (--desktop-widths) {

  .production {
    flex-direction: row;
    align-items: flex-start;
    padding-right: 56px;
    padding-top: 42px;
    padding-bottom: 0;
    width: 1050px;
  }

  .production__title {
    margin-left: -5px;
    margin-bottom: 290px;
    padding-left: 0;
    padding-top: 54px;
    width: 225px;

    &::before {
      left: 3px;
      top: 0;
    }
  }

  .production__video {
    width: 682px;
  }

  .production__video-btn {
    background-image: url("../img/video-desktop@1x.jpg");
    background-size: 682px 455px;

    @media (--retina) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }

  .production__video-wrapper {
    width: 682px;
    margin-right: 81px;
    margin-top: -42px;
  }

  .production__wrapper {
    width: 230px;
    margin-left: auto;
    margin-top: -277px;
  }

  .production__text {
    margin-bottom: 47px;
  }

  .production__btn {
    width: 230px;
  }
}
