.production {
  position: relative;
  @mixin container;
  padding: 0 30px;
  padding-bottom: 58px;
}

.production__title {
  margin: 0;
  padding-left: 90px;
  padding-right: 42px;
  padding-top: 25px;
  padding-bottom: 22px;
  border: 1px solid #ececec;
  font-size: 17px;
  line-height: 1.4;
  font-weight: bold;
  color: $black;
}

.production__video-btn {
  position: absolute;
  left: 110px;
  top: 135px;
}

.production__text {
  margin: 0;
  margin-top: -6px;
  padding: 0;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 28px;
  padding-bottom: 105px;
  border: 1px solid #ececec;
  font-size: 13px;
  line-height: 1.9;
  font-weight: normal;
  color: $gray;
}

.production__btn {
  position: absolute;
  left: 63px;
  bottom: 90px;
  width: 192px;
}
