.slider__toggles {
  display: flex;
}

.slider__toggle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  font-size: 0;
  cursor: pointer;
  outline: none;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center center;

  &--prev {
    border-right: none;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (--tablet-widths) {

  .slider__toggle {
    width: 86px;
    border: none;
  }
}
