.slider__toggles {
  display: flex;
}

.slider__toggle {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 130px;
  height: 52px;
  border: 1px solid #ececec;
  font-size: 0;
  cursor: pointer;
  outline: none;
  background-color: $white;

  &:hover {
    fill: #666666;
    transition: 0.3s;
  }

  &:active {
    fill: #b2b2b2;
    transition: 0.3s;
  }

  &--prev {
    border-right: none;
  }
}

@media (--tablet-widths) {

  .slider__toggle {
    width: 86px;
    border: none;
  }
}
