.social {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  padding-top: 23px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 0;

  &::after {
    content: "";
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0;
    height: 1px;
    background-color: #e5e5e5;
  }
}

.social__btn {
  margin-right: 40px;
  width: 24px;
  height: 27px;

  &:last-child {
    margin-right: 0;
  }

  &--inst {
    width: 22px;
    height: 21px;
    background: url("../img/icon-insta.svg") no-repeat;
  }

  &--inst:hover,
  &--inst:active {
    background-image: url("../img/icon-insta-green.svg");
  }

  &--fb {
    width: 15px;
    height: 28px;
    background: url("../img/icon-fb.svg") no-repeat;
  }

  &--fb:hover,
  &--fb:active {
    background-image: url("../img/icon-fb-green.svg");
  }

  &--tw {
    width: 24px;
    height: 20px;
    background: url("../img/icon-twitter.svg") no-repeat;
  }

  &--tw:hover,
  &--tw:active {
    background-image: url("../img/icon-twitter-green.svg");
  }

  &:hover {
    transition: 0.3s;
  }

  &:active {
    opacity: 0.3;
    transition: 0.3s;
  }
}

@media (--tablet-widths) {

  .social {
    padding-top: 20px;

    &::after {
      display: none;
    }
  }
}
